<p id="notice"><%= notice %></p>

<%
  courier_attributes = [:tracking_number, :status, :weight, :service_type, :cost, :payment_mode]
  sender_attributes = [:sender_fullname, :sender_phone, :sender_email, :sender_address, :sender_pincode]
  receiver_attributes = [:receiver_fullname, :receiver_phone, :receiver_email, :receiver_address, :receiver_pincode]
%>

<h1><%= "Courier # #{@courier_request.tracking_number}"%></h1>
<hr/>

<% [courier_attributes, sender_attributes, receiver_attributes].each do |attributes| %>
  <% attributes.each do |attribute| %>
    <p>
      <strong><%= attribute.to_s.titleize %>:</strong>
      <%= @courier_request.send(attribute) %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_courier_request_path(@courier_request) %> |
<%= link_to 'Back', courier_requests_path %>
